@model IEnumerable<HMS.Models.Appointment>

@{
    ViewData["Title"] = "All Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Appointments</h1>

<p class="text-right">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="btn-group">
                <a asp-action="Edit" asp-route-id="@item.AppointmentID" class="btn btn-primary btn-sm">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.AppointmentID" class="btn btn-info btn-sm">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.AppointmentID" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
